@use "@styles/colors.scss";

.contenair-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: colors.$elementColor-1;

    width: 100%;

    .menuBurger {
        width: 30%;
    }

    .title-header {
        font-size: large;
    }

    .menuUser {
        width: 30%;
    }
}
