
// Background
$backgroundColor-1 : #DDE1E1 ;
$backgroundColor-2 : #D7DBDB ;
$backgroundColor-3 : #E0D9D8 ;

// Interactive components
$elementColor-1 : #CCD1D1 ;
$elementColor-2: #C2C7C7 ;
$elementColor-3: #B9BEBF ;

// Border and Separators
$bordelColor-1: #AFB5B5 ;
$bordelColor-2: #A3A8A9 ;
$bordelColor-3: #8F9596 ;

// Solid colors

$solidColor-1: #5C696A ;
$solidColor-2: #535F5F ;

// Accessible text
$textColor-1: #3B4444 ;
$textColor-2: #152223 ;
